html, body {
  height: 100%;
}
h1{
	padding: 0 10px;
}
h2{
	padding: 0 10px;
}
.led {
	width:27px;
	height:25px;
	
	position:relative;
	margin-top: 0px;
}
.ledOn {
	background: url('../img/diodGreenOn.png') center no-repeat;	
}
.ledOff {
	background: url('../img/diodGreenOff.png') center no-repeat;
}

.tableLed {
	float:left;
	margin-top: -46px;
}
.slider-bar{
        display:block; width:80px; background-color:darkred; position:relative;
}

.slider, .slider-bar{
height:30px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#content{
	padding: 10px 35px;
}
header{
	margin-bottom: 40px;
	padding-top: 40px;
	background: url(../img/top.png) center top no-repeat;
}
aside{
	padding-top: 10px;
}
footer {
  height: 60px;
  background: url(../img/bottom.png) center bottom no-repeat;
}
.ctrl-btn-group{
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px solid #428BCA;
	border-bottom: 5px solid #428BCA;
	background-color: #efefef;
	color: #428BCA;
}
.settings li{
	margin-bottom: 20px;
	padding-top: 20px;
display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.services th, .services td{
	text-align: center;
}
.ips th{
	padding-top: 15px !important;
	text-align: center;
}
.services label{
	cursor: pointer;
}
.txt-left{
	text-align: left !important;
}
.txt-center{
	text-align: center !important;
}
.delimiter{
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #428BCA;
}
.container
{
    display:table;
}

input[type="radio"]{
	margin: 0 auto;
}
@media (max-width: 480px){
	#content{
		padding: 10px 20px;
	}
	.services td, .services th{
		padding: 5px 3px !important;
	}
}
/*.list-horizontal li{
	display: inline-block;
	float: left;
}*/

.mySlider{
	float: left;
	height: 13px;
	background: #f6a828  url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
}
.ui-slider-range {
	
	position: absolute;
	top: 0;
	height: 100%;
	background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333333 ;
}
.panel .dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
